Repository marcelotduarte/python-msilib: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pythoncapi

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [shellcheck]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies:
          - validate-pyproject-schema-store[all]>=2024.11.22

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        args: ["--ignore-words-list=lief,LIEF", "-w", "--skip=*.rtf"]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        exclude: (?x)^(src/msilib/include/pythoncapi_compat.h)$
        types_or: [c, c++]

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]

  - repo: local
    hooks:
      - id: shellcheck
        name: shell script analysis tool
        entry: shellcheck
        language: system
        files: ^(.*.sh)$

  - repo: local
    hooks:
      - id: pythoncapi
        name: upgrade pythoncapi
        entry: ci/pythoncapi.sh
        language: system
        files: ^(
          src/msilib/include/pythoncapi_compat.h|
          src/msilib/include/.*.h|src/msilib/.*.c)$

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_3354a0ce13cdd8f3___init___py.html
  htmlcov/z_3354a0ce13cdd8f3_schema_py.html
  htmlcov/z_3354a0ce13cdd8f3_sequence_py.html
  htmlcov/z_3354a0ce13cdd8f3_text_py.html
Due: none

Bump version: 0.1.1 → 0.2.0 [ci skip]
  pyproject.toml
  src/msilib/__init__.py
Due: none

Bump version: 0.1.1 → 0.2.0 [ci skip] (#16)
  pyproject.toml
  src/msilib/__init__.py
Due: none

Declare free threaded usage is supported
  .pre-commit-config.yaml
  pyproject.toml
  src/msilib/_msi.c
  src/msilib/include/pythoncapi_compat.h
Due: pythoncapi

missing change
  src/msilib/_msi.c
Due: pythoncapi

Declare free threaded usage is supported (#18)
  .pre-commit-config.yaml
  pyproject.toml
  src/msilib/_msi.c
  src/msilib/include/pythoncapi_compat.h
Due: pythoncapi

Bump version: 0.2.0 → 0.3.0 [ci skip]
  pyproject.toml
  src/msilib/__init__.py
Due: none

Bump version: 0.2.0 → 0.3.0 [ci skip] (#19)
  pyproject.toml
  src/msilib/__init__.py
Due: none

Use ruff check
  .pre-commit-config.yaml
  pyproject.toml
  src/msilib/__init__.py
  src/msilib/schema.py
  src/msilib/sequence.py
  src/msilib/text.py
  tests/test_msilib.py
Due: none

minor fix
  .github/workflows/ci.yml
  src/msilib/__init__.py
Due: none

remove import
  src/msilib/__init__.py
Due: none

fix exports from _msi
  src/msilib/__init__.py
  src/msilib/_msi.c
  src/msilib/include/_msi.h
Due: pythoncapi

more exports
  pyproject.toml
  src/msilib/__init__.py
  tests/test_msilib.py
Due: none

Use ruff check (#20)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/msilib/__init__.py
  src/msilib/_msi.c
  src/msilib/include/_msi.h
  src/msilib/schema.py
  src/msilib/sequence.py
  src/msilib/text.py
  tests/test_msilib.py
Due: pythoncapi

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_3354a0ce13cdd8f3___init___py.html
  htmlcov/z_3354a0ce13cdd8f3_schema_py.html
  htmlcov/z_3354a0ce13cdd8f3_sequence_py.html
  htmlcov/z_3354a0ce13cdd8f3_text_py.html
Due: none

Fix conversion of mktemp to mkstemp
  src/msilib/__init__.py
Due: none

Fix conversion of mktemp to mkstemp (#21)
  src/msilib/__init__.py
Due: none

Fix compatibility with arm64
  src/msilib/__init__.py
Due: none

Fix compatibility with arm64 (#22)
  src/msilib/__init__.py
Due: none

Bump version: 0.3.0 → 0.4.0 [ci skip]
  pyproject.toml
  src/msilib/__init__.py
Due: none

Bump version: 0.3.0 → 0.4.0 [ci skip] (#23)
  pyproject.toml
  src/msilib/__init__.py
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
  src/msilib/include/pythoncapi_compat.h
Due: none

pre-commit autoupdate (#25)
  .pre-commit-config.yaml
  src/msilib/include/pythoncapi_compat.h
Due: none

Update dev tools
  .github/workflows/ci.yml
  ci/install-tools.sh
  pyproject.toml
Due: shellcheck

build arm64 to use it in tests
  .github/workflows/build.yml
  src/msilib/__init__.py
Due: none

Update dev tools (#26)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  ci/install-tools.sh
  pyproject.toml
  src/msilib/__init__.py
Due: shellcheck

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/coverage_html_cb_cadff66e.js
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/style_cb_a37fa487.css
  htmlcov/z_3354a0ce13cdd8f3___init___py.html
  htmlcov/z_3354a0ce13cdd8f3_schema_py.html
  htmlcov/z_3354a0ce13cdd8f3_sequence_py.html
  htmlcov/z_3354a0ce13cdd8f3_text_py.html
Due: none

Try to fix arm64 compatibility
  src/msilib/__init__.py
Due: none

Try to fix arm64 compatibility (#27)
  src/msilib/__init__.py
Due: none

Bump version: 0.4.0 → 0.4.1 [ci skip]
  .github/workflows/build.yml
  Makefile
  pyproject.toml
  src/msilib/__init__.py
Due: none

Bump version: 0.4.0 → 0.4.1 [ci skip] (#28)
  .github/workflows/build.yml
  Makefile
  pyproject.toml
  src/msilib/__init__.py
Due: none

Minor revision to pyproject
  MANIFEST.in
  README.md
  pyproject.toml
Due: none

update pre-commit config file
  .pre-commit-config.yaml
Due: none

Minor revision to pyproject (#29)
  .pre-commit-config.yaml
  MANIFEST.in
  README.md
  pyproject.toml
Due: none
